# Provider Selection (options: openrouter, ollama)
ACTIVE_PROVIDER=ollama

# Provider Models
OPENROUTER_MODEL=openai/gpt-3.5-turbo
OLLAMA_MODEL=gemma2:2b


# API Keys
OPENROUTER_API_KEY=your_openrouter_api_key_here

# OpenRouter specific
OPENROUTER_SITE_URL=http://localhost
OPENROUTER_SITE_NAME=DWV_OS

# Engine Paths & Models
ESPEAK_PATH=C:\Program Files\eSpeak NG
TTS_MODEL=tts_models/en/ljspeech/vits
WHISPER_MODEL=tiny

# Sound Engine Config
SOUND_SAMPLERATE=16000
SOUND_SILENCE_DURATION=1.0
